<!--<nav class="navbar navbar-inverse">-->
<!--  <div class="container-fluid">-->
<!--    <div class="navbar-header">-->
<!--      <a class="navbar-brand" href="#">WebSiteName</a>-->
<!--    </div>-->
<!--    <ul class="nav navbar-nav">-->
<!--      <li class="active"><a class="clickable">Home</a></li>-->
<!--      <li class="dropdown">-->
<!--        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Rooms-->
<!--          <span class="caret"></span></a>-->
<!--        <ul class="dropdown-menu">-->
<!--          <li><a class="clickable" >Promotion</a></li>-->
<!--          <li><a class="clickable" >Disponibles</a></li>-->
<!--         &lt;!&ndash; <li><a class="clickable" (click)="onBooksPromo()">Promotion</a></li>-->
<!--          <li><a class="clickable" (click)="onBooksDispo()">Disponibles</a></li>&ndash;&gt;-->
<!--          </ul>-->
<!--          </li>-->
<!--          </ul>-->
<!--          <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">Categories</div>-->
<!--          </div>-->
<!--          </nav>-->
