<app-sidebar></app-sidebar>












<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div>
    <img src="assets/logoKcHommeblanc842.png" style="width:120px;margin-right: 20px; box-shadow: 6px 3px 3px 0px rgba(245,6,6,0.75);
-webkit-box-shadow: 6px 3px 3px 0px rgba(245,6,6,0.75);
-moz-box-shadow: 6px 3px 3px 0px rgba(245,6,6,0.75);">
  </div>

  <a class="navbar-brand" style="color: white;" >Admin Manager</a>
  <a class="button" routerLink="/rooms" routerLinkActive="active">Chambre Manager</a>
  <a class="button" routerLink="/rooms" routerLinkActive="active" (click)="onOpenModal(null,'add')">Add Employee</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColo02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link " (click)="onOpenModal(null,'add')" id=" navbarColor02 ">Add Employee
          <span class="sr-only">(current)</span></a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input  type="search" (ngModelChange)="searchEmployees(key.value)" #key="ngModel" ngModel
              name="key" id="searchName" class="form-control mr-sm-2"  placeholder="Chercher un employé... " required>
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>

</nav>-->


<!-- Top menu -->




<!--///////////////////////////////////////////////////////////-->
<!-- !PAGE CONTENT! -->


<!-- First Photo Grid-->

<!--////////////////////////////////////////////////////////////////////////-->
<!--BOOKSCOMPONENT-->


<router-outlet></router-outlet>

<!--///////////////////////////////////////////////////////////////////////-->
<!-- Second Photo Grid-->
<!-- Pagination -->


<!--<hr id="about">-->
<!-- About Section -->
<!--<div class="w3-container w3-padding-32 w3-center">
  <h3>About Me, The librarian</h3><br>
  <img src="/w3images/chef.jpg" alt="Me" class="w3-image" style="display:block;margin:auto" width="800" height="533">
  <div class="w3-padding-32">
    <h4><b>I am Who I Am!</b></h4>
    <h6><i>I am passionate about reading</i></h6>
    <p>I have a heart of love and an interest of lorem ipsum and mauris neque quam blog. I want to share my world with you. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
  </div>-->
